#title {
    font-size: 80px;
    color: #000000;
    text-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);

}

#menu-section{
    height: 40%;
    width: 100%;
    height: content-box;
    margin: 2rem 0rem;
}

.left_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    /*left: 75px;*/
    height: 50vh;
    /*width: 100%;*/
    position: relative;
    border-radius: 50px;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
    margin: 2rem 2rem;
    overflow: hidden;
}

.left_container_inner {
    background: url("../img/home main.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: inherit;
    height: inherit;
}

#main-img {
    display: flex;
    justify-content: center;
    background: #0a53be;
}


#order{
    position: absolute;
    left: 700px;
}

.btnList > div > div {
    background-color: white;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 200px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
    color: black;
    font-size: 30px;
    font-weight: inherit;
    cursor: pointer;
    overflow: hidden;
    padding: 10px;
}

.cus-col {
    display: flex;
    justify-content: center;
}

.right_container img {
    border-radius: 30px;
    height: 80%;
}

header>nav>ol>li>button{
    height: fit-content;
    position: relative;
    top: 10px;
}
li>button>a{
    color: black;
    text-decoration: none;
}
.rows {
    --bs-gutter-x: -14rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
